<link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<h1 class="site-title">Lunch Voting</h1>
<section class="banner">
  <div class="center-box">
    <p>Lunch with friends or co-workers? <br>But isn't deciding on <em>where</em> a pain?</p>
    <img src="<%= asset_path('which-food.png') %>">
    <p>Lunch Voting can help.</p>
  </div>
</section>

<section class="how">
  <div class="howsection">
    <h2>How it works</h2>
  </div>
  <div>
    <!-- <i class="fa fa-wechat fa-2x"></i> -->
    <ol>
      <li class="flowbox"> 
        <i class="fa fa-gear icon"></i>
        Schedule a lunch.
      </li>
      <li class="downarrow">
        <i class="fa fa-long-arrow-down"></i>
      </li>
      <li class="flowbox"> 
        <i class="fa fa-inbox icon"></i>Invitees receive an email.
      </li>

      <li class="downarrow">
        <i class="fa fa-long-arrow-down"></i>
      </li>
      <li class="flowbox"> 
        <div class="thumbs">
          <i class="fa fa-thumbs-o-up icon"></i> 
          <i class="fa fa-thumbs-o-down icon"></i>
        </div>
        Lunch goers RSVP and vote on the venue.
      </li>
      <li class="downarrow">
        <i class="fa fa-long-arrow-down"></i>
      </li>
      <li class="flowbox"> 
        <i class="fa fa-heart-o icon"></i>
        Winning venue is emailed to lunch goers.
      </li>
      <li class="downarrow">
        <i class="fa fa-long-arrow-down"></i>
      </li>
      <li class="flowbox">
        <i class="fa fa-clock-o icon"></i> 
        Lunch time!
      </li>
    </ol>
  </div>
</section>
<section class="getstarted" >
  <p class="getstartedbutton"><%=link_to "Get Started", signin_url, {:style=>'font-size:28px', :class=>"btn btn-success btn-large"} %>
  </p>
</section>
<section class="footer">
  © 2014 lunch-voting All rights reserved.
</section>
