<img alt="Where to eat?" src=<%=image_path("wheretoeat.png")%>>

<div class="narrow">
   <div class="row marketing" style="margin: 12px;">
       <div class="col-lg-8">
           
       <h3> Ever wondering how to make a lunch decision with a group of friends or coworkers? This lunch voting app will help you.</h3>
       <br ><br >
       <%=link_to "Get Started", signin_url, {:style=>'font-size:28px', :class=>"btn btn-primary btn-large orange"} %>
   </div>
</div>

<%=flash[:notice]%>