<div class="listing">

<h1>Make a change to a lunch setting</h1>

<%= render 'form' %>

<%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span>'), @meeting %>
<%#= link_to 'Back', meetings_path %>
