<div class="listing">
<span class="listingh">Editing meeting</span>

<%= render 'form' %>

<%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span>'), @meeting %>
<%#= link_to 'Back', meetings_path %>
