<h1>Select users </h1>

<%=form_tag :select_users do %>
  <% @allusers.each do |user| %>
    <label><%=check_box_tag 'user', 
      user, true %>
      <%= user.username %>
    </label>
  <% end %>

  <%=submit_tag "Add" %>
<% end %>