<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    
	<table width="640" border="0" cellpadding="0" cellspacing="0" bordercolor="#999">
	<tr>
	<td width="17" align="left" valign="top" style="background-color:#e4eaed"></td>
	<td width="123" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#FFF; background-color:#e4eaed"><img src="http://lunchvoting.airportyh.webfactional.com/assets/wheretoeat_header.png" />	</td>
	<td width="561" style="font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#FFF; background-color:#e4eaed; padding-left:15px;"></td>
	<td width="17" align="left" valign="top" style="background-color:#e4eaed"></td>
	</tr>
	<tr>
	<td height="33" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:9px; 	padding:8px; background-color:#e4eaed">&nbsp;</td>
	<td height="33" colspan="2" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:9px; padding:8px; background-color:#ffffff"><table width="650" border="0" cellpadding="3" cellspacing="0">
	<tr>
	<td colspan="3" align="left" valign="top" style="width:190px; background:#fff; font-	family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; margin-left:10px;"></td>
	</tr>
	
	<tr>
	<td colspan="3" align="left" valign="top" style="height:5px;"></td>
	</tr>
	
	<tr>
	<td width="25%" align="left" valign="top" bgcolor="#eef0f3" style="background-color:#fff; Font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; margin-left:10px; ">Hello atlwendy@gmail.com</td>
	
	</tr>
	
	<tr>
	<td colspan="3" align="left" valign="top" style="height:5px;"></td>
	</tr>
	
	
	<tr>
	<td colspan="3" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:9px; padding:8px; "><strong>Lunch voting invite:</strong>You have been invited to join in a lunch voting. Please 	follow this link <%= @url %> to get started. 
	      If you didn't have an account before, please use your email and default password (lunchvoting) to login. 	You can change your password after you login. </td>
	</tr>
	<tr><td style="font-family:Arial, Helvetica, sans-serif; font-size:10px; padding:8px; ">
		Happy Lunch! 
	</td></tr>
	<tr>
	<td colspan="3" align="left" valign="top" style="font-size: 11px; height:5px; border-top:thin; border-top-color:#999; border-top-style:solid"></td>
	</tr>
	<tr>
	<td colspan="2" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:9px;"><strong>From lunchvoting team</strong>
	<br />
	</td>
	</tr>
	<tr style="color:#CCC; font-family:Verdana, Geneva, sans-serif; font-size:9px; padding-left:10px; text-decoration:none;">
	
	</tr>
	</table></td>
	<td height="33" style="background-color:#e4eaed">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr>
	<td height="20" colspan="4" align="left" valign="middle" style="background-color:#e4eaed;"></td>
	</tr>
	</table>


  </body>
</html>