<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to lunch voting, <%= @user %></h1>
    <p>

      You have been invited to join in a lunch voting. Please follow this link <%= @url %> to get started. Happy lunch!<br>
    </p>

  </body>
</html>