<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Update to the lunch meeting </h1>
    <p>
      Hi <%= @user %>,

      The lunch meeting that you are part of has just been updated. Please follow this link <%= @url %> to check it out. Happy lunch!<br>
    </p>

  </body>
</html>