<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

    <div style="width: 500px; height: 300px; border: 1px solid #dadede; background-color: #dadede;box-shadow:3px 3px 5px 6px #ccc;">
    
    <img src="http://lunchvoting.airportyh.webfactional.com/assets/wheretoeat_header.png" />
      <div style="width: 400px; height: 200px; margin: 20 20 20 50px; background    -color: #fff; Font-family:Arial, Helvetica, sans-serif; ">
        <div style="padding: 10px">
        <p style="font-size:12px; font-weight: bold">
        Hello <%=@user.username%>!</p>
      
    
        <p style="font-size: 11px;">
        You scheduled lunch with 
        <%= @allusers.join(', ') %> is happening within 2 days. If you haven't voted or would like to update your vote, please do so now. In 24 hours, the vote will be closed down and restaurant winner will be selected. 
        </p>
    
        <div  
        style="min-width: 100px;
            max-width: 150px;
              margin: 10px 5px;
              padding:8px 10px;
              background-color: #bfbebe;
              background: linear-gradient(to bottom, #747879 5%, #bfbebe 100%) repeat scroll 0 0 #747879;
              text-align:center;
              white-space:nowrap;
              font: 500 14px Arial;
              letter-spacing: 0.5px;
              color:#fff !important;
              border: 0;
              border-radius: 5px;
              cursor:pointer;
              text-decoration:none;"><a style="text-decoration: none; color: #fff" href=<%=@meeting_url%>>Go Vote!</a></div>
    
        <p style="font-size: 11px; ">
        Happy lunch!
        </p>
    
        <div style="border-top: 1px solid #555; margin-top: 20px"></div>
        <p style="font-size: 10px">
        From lunchvoting team
      </p>
        </div>
    
      </div>
    
    </div>
  </body>
    