/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


body {
  background-color: #ccc;
  margin: 0px;
}

.lunch-date {
   background-color: #ddd;
   border-radius: 5px;
   padding: 15px;
   max-width: 480px;
}

#frame {
  background-color: #f4f4f4;
  margin: auto;
  padding: 1em;
  max-width: 800px;
}

.site-header {
  position: relative;
}

.site-header h1 {
  margin: 0;
  padding-top: 20px;
}

.navigation {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navigation li {
  display: inline;
  height: 100px;
}

.listingbox {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  background-color: #f4f4f4;
}

.listmeetings {
  padding: 10px 0 0 0;
  padding-bottom: 0;
  border-bottom: 1px solid transparent;
  list-style: none;
}

.date-indicator {
    color: #AAA;
    text-shadow: 1px 1px 0px #FFF;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
    padding: 10px 0px 8px;
}
.date-indicator a {
  color: #AAA;
  text-shadow: 1px 1px 0px #FFF;
}
.meetingtime {
  color: #888;
}
.detail-container {
    background-color: #FFF !important;
    border: 1px solid #DDD;
    border-bottom: none;
    border-radius: 3px;
    background-clip: padding-box;
    display: block;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    min-height: 80px;
    height: auto;
    overflow: auto;
}
.unit {
  float: left;
}
.sizetime {
  width: 20%;
  color: #888;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 19px;
  font-weight: 400;
}
.sizemain {
  width: 60%;
  padding: 8px 0 0 20px;
  font-size: 33px;
  font-weight: 400;
}
.sizemain a {
  color: #000;/*rgba(0, 0, 0, 0.67);*/
}
.title {
  line-height: 1.2;
  color: #888;
}
.title a {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 5px;
}
.description {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #333;
}
.peoplecount {
  font-size: 15px;
  color: #999;
  margin-bottom: 20px;
}
.meetingsamedate {
  border-bottom: solid 1px #ddd; 
  line-height:1.2; 
  overflow:hidden;
}
.avatarimage {
  width: 80px !important;
  height: 80px !important;
  vertical-align: top;
  display: table cell;
  border: none;
  float: left;
  height: 35px;
  overflow: hidden;
  text-align: center;
  padding-left: 12px;
}
.figureset-description {
  width: auto;
  padding-left: 10px;
  display: table-cell;
  vertical-align: top;
}