#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

table.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
  }
}

a#logo {
	padding-top: 10px;
	font-size: 18px;
}

button.btn,
input[type="submit"].btn {
	display: block;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
  }
}

.navbar-inner {
  background: none !important;
  background-color: #fff !important;
  border-color: #252525;
}
.container {
  background-color: #fff;
}
.nav { 
  li { 
    a {
      &:hover {
        color: red;
        }
      }
    }
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
    background-color: transparent;
    color: #000;
}

.navbar-inverse .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
    border-top-color: #000;
    border-bottom-color: #000;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #fff;
  color: #000;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #000;
  border-bottom-color: #000;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #000;
  color: #000;
}