
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid gray;
	position: absolute;
}

.arrow-uped {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid orange;
	position: absolute;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	
	border-top: 7px solid gray;
	/*position: absolute;*/
}

.arrow-downed {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	
	border-top: 7px solid orange;
	/*position: absolute;*/
}

table.restname {
	border: none;
	border-collapse: separate;
	border-spacing: 3px;
}

td.restname {
	font-size: 15px;
	padding-left: 10px;
}

.votenumber {
	padding: 5px 0 0 3px;
}

.container {
	margin-top: 20px;
}
span.listingh {
	font-size: 1.875em;
	padding-bottom: 10px;
}
.listing {
	padding-top: 20px;
	font-size: 0.875em;
	color: #636466;
	font-weight: bold;
	cursor: pointer;
}

table.tlisting {
	margin-top: 30px;
	width: 70%;
	font-family: Arial,Helvetica,sans-serif;
}

tr.thead th{
	text-align: center;
	font-weight: bolder;
	font-size: 1.2em;
	background-color: #e4eaed;
}

.infosection {	
	width: 50%;
	border: 1px solid #dbdbdb;
	padding-bottom: 20px;
}

.infosection h5 {
	margin-top: 0px;
	background-color: #eee;
	background-position: 24px 15px;
	border-bottom: 1px solid #dbdbdb;
	font-size: 1.2em;
	color: #636466;
	font-weight: bold;
	padding: 1em 0 1em 2em;
}
.basicinfofields {
	padding-left: 30px;
}
.newmemberfields {
	padding-left: 30px;
}
.inputaddress {
	margin-bottom: 20px;
}

h1 {
font-size: 38px;
letter-spacing: -0.75px;
color: rgba(0,0,0,0.95);
font-family: "Whitney",helvetica,arial,sans-serif;
margin: 0;
padding: 0;
padding-bottom: 9px;
line-height: 1.1;
font-weight: 700;
}

.content {
	border-radius: 3px;
	padding: 18px;
	padding-bottom: 0;
	border-bottom: 1px solid transparent;
	background-color: #fff;
	margin-bottom: 18px;
	border: 1px solid #ddd; 
	width: 70%;
}

#event-content {
	position: relative;
	z-index: 100;
	padding-top: 18px;
}
.dividedList{
	list-style: none;
	padding: 0;
	margin: 0;
}
h3 {
	font-size: 20px;
	padding-bottom: 6px;
	line-height: 1.2;
	letter-spacing: -0.25px;
}
.timetext {
	color: #888;
	margin: 0;
	padding: 0;
	margin-bottom: 18px;
}
.editinh3 {
	font-size: 16px;
}
}