body {
  margin: 0px;
}

#notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.lunch-date {
  margin-left: 138px;
  margin-right: 13px;
  background-color: #cfdfec;
  border-radius: 5px;
  padding: 15px;
  max-width: 480px;
  color: #000;
  width: auto;
}

.nextlunch { 
  padding: 0 0 40px 13.5px;
  background-color: #508dbd;
  border-radius: 10px;
}
.meetingtimefont {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}
.calendaricon {
  width: 30px; 
  height: 30px; 
}
@media (min-width: 740px) {
  .calendaricon {
    float: left;
  }
}
@media (min-width: 740px) {
  .meetingtimefont {
    margin-top:20px;
    margin-bottom: 10px;
    padding-left: 20px;
  }
}

.datecalendar {
  width: 10%;
  line-height: 0;
  display: table-cell;
  vertical-align:top;
  float: left;
}
.timetext {
  color: #888;
  text-shadow: 1px 1px 0px #FFF;
}
@media (min-width: 740px) {
  .timepadding {
    padding-left: 50px;
  }
}

#event-content {
  margin-top: 30px;
}
.userlist {
  list-style: none;
  min-height: 30px;
}
.sheet {
  width: 80px;
  height:80px;
  display:inline-block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 18px;
  font-weight: 700;
}
.month {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 19px;
  height:32px;
  line-height: 36px;
  text-transform: uppercase;
  background-color:#e0393e;
  color: #fff;
  display:block;
}
.day {
  line-height: 48px;
  font-size: 32px;
  display:block;
  border: 2px solid #ddd;
  background-color: #fff;
  border-top-width: 0;
}
#frame {
  margin: auto;
  padding: 1em;
  max-width: 800px;
  min-height: 600px;
}

.site-header {
  position: relative;
}

.site-header h1 {
  margin: 0;
  padding-top: 20px;
}

.navigation {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navigation li {
  display: inline;
  height: 100px;
}

.listingbox {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.listmeetings {
  padding: 10px 0 0 0;
  padding-bottom: 0;
  border-bottom: 1px solid transparent;
  list-style: none;
}

.date-indicator {
    color: #AAA;
    text-shadow: 1px 1px 0px #FFF;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
    padding: 10px 0px 8px;
}
.date-indicator a {
  color: #AAA;
  text-shadow: 1px 1px 0px #FFF;
}
.meetingtime {
  color: #888;
}
.detail-container {
    background-color: #FFF !important;
    border: 1px solid #DDD;
    border-bottom: none;
    border-radius: 3px;
    background-clip: padding-box;
    display: block;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    min-height: 80px;
    height: auto;
    overflow: auto;
}
.unit {
  float: left;
}
.sizetime {
  width: 20%;
  color: #888;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 19px;
  font-weight: 400;
}
.sizemain {
  width: 60%;
  padding: 8px 0 0 20px;
  font-size: 30px;
  font-weight: 400;
}
.sizemain a {
  color: #000;/*rgba(0, 0, 0, 0.67);*/
}
.title {
  line-height: 1.2;
  color: #888;
}
.title a {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 5px;
}
.description {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #333;
  padding-bottom: 10px;
}
.peoplecount {
  font-size: 15px;
  color: #999;
  margin-bottom: 20px;
}
.meetingsamedate {
  border-bottom: solid 1px #ddd; 
  line-height:1.2; 
  overflow:hidden;
}
.avatarimage {
  width: 80px !important;
  height: 80px !important;
  vertical-align: top;
  display: table cell;
  border: none;
  float: left;
  height: 35px;
  overflow: hidden;
  text-align: center;
  padding-left: 12px;
}
.figureset-description {
  width: auto;
  padding-left: 10px;
  display: table-cell;
  vertical-align: top;
}
.areyougoing {
  display: inline;
  float: right;
  margin-right: 5px;
}
.going {
  background-color: #C2F5CF; 
  width: 50%;
  padding: 10px;
  margin-top: -10px;
}
.toptitle {
  /*background-color:#cfdfec;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  color: #3A6A91;
  text-shadow: 1px 1px 0px #FFF;*/
}
.meetingshowtime {
  background-color:#cfdfec;
  padding: 10px;
  width: 36%;
  border-radius: 5px;
  color: #3A6A91;
  text-shadow: 1px 1px 0px #FFF;
}
#question {
  width: auto;
  height: auto;
  /*border: 1px solid #ccc;*/
  float: right;
  padding: 0 15px 5px 15px;
  /*background-color: #73C588;
  border-radius: 0 4px 0 0;
  color: #fff;*/
}

#iQuestion {
  width: auto;
  height: auto;
  /*border: 1px solid #ccc;*/
  float: right;
  padding: 0 15px 5px 15px;
  margin-top:-15px;
  /*background-color: #73C588;
  border-radius: 0 4px 0 0;
  color: #fff;*/
}
.rsvpY {
  color: #269944;
}
.rsvpN {
  color: #d9534f;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid gray;
  position: absolute;
}

.arrow-uped {
  width: 0; 
  height: 0; 
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid orange;
  position: absolute;
}

.votedcolor {
  color: orange;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  
  border-top: 17px solid gray;
  display: block;
  /*position: absolute;*/
}

.arrow-downed {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid orange;
  /*position: absolute;*/
}
.votenumber {
  padding: 5px 0 0 3px;
  display:block;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}
#itdowna #itupa {
  display: block;
}
.yelplink {
  padding-left: 15px;
  font-size: 20px;
}
.selection {
  box-shadow: #949494 0px 2px 0px 0px;
  color: rgba(0,0,0,0.8) !important;
  background: #eeeeee;
}
.restaurant_categories {
  padding-left: 15px;
  font-family: 'PT Sans', sans-serif;
  color: #888;
}

table.restname {
  border: none;
  border-collapse: collapse;
  border-spacing: 3px;
  width: 100%;
}

table.rest {
/*  margin-left: 20px;
*/}

td.restname {
  font-size: 20px;
  padding-left: 10px;
}
table.restname td {
  
}
.listuser {
  list-style: none;
  margin-bottom: 7px;
}
.map-container {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccccc8;
  -webkit-box-shadow: 0 2px 4px rgba(153,153,153,0.15);
  box-shadow: 0 2px 4px rgba(153,153,153,0.15);
}
.mapbox-map {
  overflow: hidden;
  height: 135px;
  border: 1px solid #ccccc8;
}

.mapbox-text {
  min-height: 85px;
}
.mainname {
  float: left;
  padding: 0 15px 0 0;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 52.5%;
}
.address {
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 640px){
  .address {
    margin-left: 2em;
  }
}

@media (max-width: 640px){
  .address {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 2em;
  }
  .address br {
    display: none;
  }
}

.thumb {
  vertical-align: top;
}

address {
  display: inline;
  font-style: normal;
}
.figureset:after, .figureset-right:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}

.figureset-description {
  width: auto;
  padding-left: 10px;
  display: table-cell;
  vertical-align: top;
}
.menuavatarimage {
  width: auto !important;
  height: 25px !important;
  vertical-align: top;
  display: table cell;
  border: none;
  float: left;
  height: 35px;
  overflow: hidden;
  text-align: center;
  padding-left: 12px;
}
.restinfo {
  display: inline-block;
  min-width: 20em;
  max-width: 20em;
}
#tupa:hover {
  cursor: pointer;
}
#tdowna:hover {
  cursor: pointer;
}